@model IEnumerable<Contacs.Models.ShowSearchForm>



@{
    ViewData["Title"] = "Index";
}

<h1>Rapor</h1>

<p>
    <a asp-action="Create">Konum Raporu Oluştur</a>
</p>

<form asp-action="ShowSearchResults">


<div class="form-group">
    <label for="SearchPhrase" class="control-label"></label>
    <input name="SearchPhrase" class="form-control" />
</div>
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UUID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
