@model IEnumerable<Contacs.Models.ContactData>

@{
    ViewData["Title"] = "Index";
    int table_counter = 0;
    
   
}

<h1>Rehbere Kişi Ekle/Kaldır</h1>

<p>
    <a asp-action="Create">Yeni Kişi Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
    {
        table_counter++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UUID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
               </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    @if (ViewBag.location_name != null)
        {
           <h1>@ViewBag.location_name  Konumunda @table_counter Kişi Bulundu</h1>

        }
    
    
</table>
